body {
	font-family: candara;
}

h1 {
	font-size: 30pt;
}

h2 {
	font-size: 18pt;
}

p {
	font-size: 14pt;
}

/* modules comment  */

.header {
	width: 960px;
	height: 150px;
	background-color: #F58220;
}

.navigation {
	width: 960px;
	height: 60px;
}

.navigation li {
	display: inline;
	padding: 0px 20px 0px 20px;
	background-color: black;
}

.navigation ul {
	height: 20px;
}

.hero {
	width: 960px;
	background-color: #485662;
	color: white;
}

.description {
	width: 590px;
}

.sidebar_container {
	width: 300px;
	height: 500px;
	background-color: #e9e9e9;
}

.resources_container {
	width: 300px;
	height: 380px;
}


.footer {
	width: 960px;
	height: 375px;
	background-color: #485662;
}