body {
	font-family: candara;
}

h1 {
	font-family: gobold;
	font-size: 30pt;
	margin-top: 10px;
	margin-bottom: 0;
}

h3 {
	font-family: gobold;
	font-size: 20pt;
	margin-top: 0;
	margin-bottom: 50px;
}

h2 {
	font-size: 16pt;
	margin-top: 0;
}

p {
	font-size: 12pt;
}


main {
	width: 960px;
}

/* modules comment  */
.clearfix {
	clear: both;
}
.wrapper {
	width: 960px;
	margin: 0px auto 0px auto;
}

.header {
	width: 100%;
	height: 150px;
	background-color: #F58220;
}

.navigation {
	width: 100%;
	margin: 0;
}

.navigation ul {
	width: 100%;
	list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation li {
	float: left;
	padding: 18px 36px 18px 36px;
	border: 1px solid #d3d3d3;
	/*margin: 0;*/
}

.navigation li a {
	text-decoration: none;
	font-size: 12pt;
	color: #485662;
	font-weight: bold;
}

.donate {
	background-color: #f58220;
}

.hero {
	width: 100%;
	height: 280px;
	background-image: url("../images/hero_background.png");
	background-repeat: no-repeat;
	color: white;
	padding: 30px 20px 10px 20px;
	margin: 0;
}

.button {
	float: left;
	background-color: #e9e9e9;
	font-family: gobold;
	color: #485662;
	font-size: 14pt;
	width: 85px;
	height: 35px;
	margin: 10px 10px 5px 0px;
	border: .5px solid grey;
	box-shadow: 3px 3px 30px 5px #333333;
	padding: 12px 15px 0 20px;
	border-radius: 10px;
}

.long_button {
	float: left;
	background-color: #e9e9e9;
	font-family: gobold;
	color: #485662;
	font-size: 14pt;
	width: 150px;
	height: 35px;
	margin: 10px 10px 5px 0px;
	border: .5px solid grey;
	box-shadow: 3px 3px 30px 5px #333333;
	padding: 12px 5px 0 20px;
	border-radius: 10px;
	}

.description {
	width: 64%;
	float: left;
	margin: 0 0 10px 0;
	padding: 0 0 0 0;
}

.sidebar_container {
	width: 30%;
	background-color: #e9e9e9;
	padding: 10px;
	margin: 0 0 20px 10px;
	float: right;
}

.media_container {
	font-size: 10pt;
	margin: 0 0 45px 0;
}

.thumbnail img {
	width: 140px;
	height: 100px;
	margin: 0 15px 20px 0;
	float: left;
}

.big_thumbnail img {
	width: 285px;
	height: 150px;
}

.resources_container {
	float: left;
	width: 64%;
	padding: 10px 0 0 0;
	margin: 10px 10px 10px 0px;
}

.resources_bar {
	float: left;
	width: 100%;
	height: 35px;
	border-top: 2px solid orange;
	border-left: 2px solid orange; 
	box-shadow: 3px 3px 3px 1px #e9e9e9;
	margin: 0 0 20px 0;
	padding: 3px 0 0 5px;
}

.resource_type {
	width: 95px;
	float: left;
	border-top: 8px solid orange;
	margin: 0 100px 55px 0;
}

.resource_description {
	float: left;
	width: 285px;
	margin: 0 10px 45px 0;
}

.resource_date {
	float: right;
	margin: 0 10px 60px 0;

}
footer {
	margin: 0 0 0 -50px;
}